@using WebApplication1.Models
@model IEnumerable<Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ind</title>
</head>
<body>
<div>
    @foreach (var per in Model) {
        @per.Name <br/>
    }
    @Html.ActionLink("klick","add","Home")
</div>
</body>
</html>
