@using WebApplication1.Models
@model IEnumerable<Person>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <table class="striped">
        <thead>
        <tr>
            <th data-field="name">Nazwa</th>
            <th data-field="age">Wiek</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var person in Model) {
            <tr>
                <td>@person.Name</td>
                <td>@person.Age</td>
            </tr>
        }
        </tbody>
    </table>
</div>